In [1]:
""" Binary Data Format """

' Binary Data Format '

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
# Ecrire les données au format pickle (serializé)
frame = pd.read_csv('examples/ex1.csv')

In [5]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
frame.to_pickle('examples/frame_pickle')

In [7]:
# Lire un fichier serializé ( pickled)
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
""" HDF5 Format """

' HDF5 Format '

In [9]:
frame = pd.DataFrame({'a':np.random.randn(100)})

In [10]:
frame

           a
0   0.489887
1  -2.243058
2   0.982459
3  -0.532186
4   1.010864
5  -1.791904
6   0.164473
7  -1.550757
8  -1.203525
9  -0.182444
10  0.981240
11  0.657390
12 -0.532648
13  1.558367
14  1.876034
15  0.225877
16 -0.315451
17 -0.951198
18 -2.175326
19 -0.538382
20  0.276102
21  0.966474
22 -1.427198
23  0.308514
24  0.174237
25 -2.426193
26 -0.552518
27 -1.540896
28 -1.737048
29  0.793591
..       ...
70  0.277764
71  0.445742
72 -1.063421
73  0.163228
74  0.671181
75  1.070314
76 -0.264619
77  1.256694
78 -1.207437
79 -0.275318
80 -1.072444
81 -2.076900
82  0.808586
83  0.815900
84 -0.722076
85 -2.061946
86  2.211357
87  0.906025
88  0.937976
89  1.053069
90 -0.564698
91  0.893154
92 -0.852853
93  0.596013
94 -0.383969
95 -0.873869
96  1.505674
97 -0.658951
98  0.269937
99 -0.625534

[100 rows x 1 columns]

In [11]:
store = pd.HDFStore('mydata.h5')

ImportError: HDFStore requires PyTables, "numpy.core.multiarray failed to import" problem importing

In [ ]:
store

In [ ]:
print("fuck")

In [ ]:
rh